frontend/
.git
.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/vendor
backend/composer.lock
package-lock.json
npm-debug.log
node_modules/
